{% extends 'common/base.html' %}

{% block title %} High Score Table {% endblock %}

{% block content %}



    <div class="container">
        <div class="row">

            <div class="col-sm-12">


                <h2>High Score Table</h2>
                <br>
                <div>
                    {% if themes %}
                        {% for theme in themes %}
                            <h2>{{theme.name}}</h2>
                            <br>
                            {% for user in theme.scores %}
                                <h4><a href="#" class="list-group-item">{{user.username}}  :  {{user.score}}</a></h4>
                                {#TODO make the link point to user profile of relevant user#}
                            {% endfor %}
                            <br>
                        {% endfor %}
                    {% else %}
                        there are no games

                    {% endif %}

                </div>

            </div>
        </div>
    </div>
    <style type="text/css">
        body { background: Black  !important; color: white; font-family: VT323 !important }
    </style>
{% endblock %}
