{% extends 'common/base.html' %}

{% block content %}



    <div class="container">
        <div class="row">

            <div class="col-sm-12">



                <h2>Overview</h2>

                <h2>High Score Table</h2>
                <br>
                <div>
                    {% if themes %}
                        {% for theme in themes %}
                            <h2><b>{{theme.name}}</b></h2>
                            <br>
                            {% for user in theme.scores %}
                                <h4 <a href="#" class="list-group-item">{{user.username}}  :   {{user.score}}</a></h4>

                            {% endfor %}
                            <br>
                        {% endfor %}
                    {% else %}
                        there are no games

                    {% endif %}

                </div>

            </div>
        </div>
    </div>

{% endblock %}
