{% extends 'common/base.html' %}
{% load staticfiles %}

{% block title %} Login {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/register-login.css' %}">
    <form id="user_register" action="{% url 'login' %}" method="post" class="form-login-register">
            {% csrf_token %}
            {{ form }}
            <div class="pagination-centered text-center btn-group-lg" id="button-group">
                <button class="btn btn-primary" type="submit">Login</button>
                <button class="btn btn-primary"
                        onclick="window.location.href='{% url 'game:index' %}'"
                        type="button">Cancel</button>
            </div>
    </form>
{% endblock %}
