{% extends 'common/base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <form id="user_register" action="{% url 'register' %}" method="post" class="form-login-register">
            {% csrf_token %}
            {{ form }}
            <div class="pagination-centered text-center btn-group-lg" id="button-group">
                <button class="btn btn-primary" type="submit">Resgiter</button>
                <button class="btn btn-primary"
                        onclick="window.location.href='{% url 'main' %}'"
                        type="button">Cancel</button>
            </div>
    </form>
{% endblock %}
