{% extends "common/base.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Play!</h1>
        <p class="lead">...</p>
        <hr class="m-y-2">
        <p>Hi there...</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mode-select-modal">Select Mode</a>
        </p>
    </div>

    {% include 'index/new-game.html' %}
    {% include 'index/game-select.html' %}

    <div>
        <h1>Rules</h1>
        <p>asdafasfadsfsdfsdf.</p>
    </div>

{% endblock %}
