{% load staticfiles %}
<div id="mode-select-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="card-group">

                {% for theme in themes.values %}
                    <div class="card">
                        <img class="card-img-top" src="{% static theme.small_banner_path %}" alt="Card image cap">
                        <div class="card-header">
                            <h4 class="card-title">{{ theme.name }}</h4>
                            <p class="card-text">{{ theme.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for rule in theme.rules %}
                                <li class="list-group-item">{{ rule }}</li>
                            {% endfor %}
                        </ul>
                        <div class="card-block">
                            <form action="{% url 'game:create-game' theme_name=theme.name %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary create-game-button">
                                    New Game
                                </button>
                            </form>
                        </div>
                    </div>

                {% endfor %}

                <div class="card">
                    <img class="card-img-top" src="{% static "images/tmp/320px-Flickr_-_Josh_Jensen_-_Metallica_Zombie.jpg" %}" alt="Card image cap">
                    <div class="card-header">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-block">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="{% static "images/tmp/320px-Flickr_-_Josh_Jensen_-_Metallica_Zombie.jpg" %}" alt="Card image cap">
                    <div class="card-header">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the
                            bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                    <div class="card-block">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
