{% load staticfiles %}
<div id="mode-select-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="card-group">

                {% for theme in themes.values %}
                    <div class="card">
                        <img class="card-img-top" src="{% static theme.small_banner_path %}" alt="Card image cap">
                        <div class="card-header">
                            <h4 class="card-title">{{ theme.name }}</h4>
                            <p class="card-text">{{ theme.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for rule in theme.rules %}
                                <li class="list-group-item">{{ rule }}</li>
                            {% endfor %}
                        </ul>
                        <div class="card-block">
                            <form action="{% url 'game:create-game' theme_name=theme.name %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary create-game-button">
                                    New Game
                                </button>
                            </form>
                        </div>
                    </div>

                    {% if forloop.counter0|add:1|divisibleby:3 and forloop.last == false %}
                        </div>
                        <div class="card-group">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
