{% load staticfiles %}
{% load humanize %}

<div id="current-game-select-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="row card-group">
                {% for game in active_games %}
                    {% with state=game.state %}
                        <a href="{% url 'game:inprogress_game' game_id=game.id %}">
                            <div class="card card-inverse col-md-3">
                                <img class="card-img"
                                     src="{% static state.theme.small_banner_path %}"
                                     alt="{{ state.theme.name }} banner">
                                <div class="card-img-overlay tint">
                                    <h4 class="card-title">{{ state.theme.name }}</h4>
                                    <p class="card-text">{{ state.remaining_label }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">Last
                                            played {{ state.last_played | naturaltime }}</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    {% endwith %}

                    {% if forloop.counter0|add:1|divisibleby:3 and forloop.last == false %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </div>
</div>
