<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="#">Zombuy</a>

    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'game:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#current-game-select-modal">
                    Resume Game
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'game:high_score_table' %}">Highscores</a>
        </li>
    </ul>

    <ul class="nav navbar-nav pull-xs-right">
        {% if not user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#login-modal">
                Login
            </a>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                {{ user.username }}</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>

    {% include 'common/modal_popup.html' %}

    {% if user.is_authenticated %}
        {% include 'common/current-games.html' with active_games=profile.games  %}
    {% endif %}
</nav>
