<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form id="user_register" action="{% url 'login' %}" method="post" class="form-login-register">
            {% csrf_token %}
            {{ form }}
            <div class="pagination-centered text-center btn-group-lg" id="button-group">
                <button class="btn btn-primary" type="submit">Login</button>
                <button class="btn btn-primary"
                        onclick="window.location.href='{% url 'game:index' %}'"
                        type="button">Cancel</button>
            </div>
    </form>
</body>
</html>