<div>
    <div class="col-sm-12">
        <h2>Events</h2>
        <br>
        <div class="col-sm-6">
            <h4>Past Events</h4>
            <ul class="list-group">

                {% for event in sample_events_past %}
                    <li class="list-group-item">{{event.name}} happened {{ event.days_since }} days ago</li>

                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-6">
            <h4>Future Events</h4>
            <ul class="list-group">

                {% for event in sample_events_future %}
                    <li class="list-group-item">{{event.name}} will happen in {{ event.days_until }} days</li>

                {% endfor %}
            </ul>
        </div>

    </div>
</div>
